// Tarjeta de sección de contenido general ----------------------------------------------------------------------------------------
// .f_card : Estilo de tarjeta de seccion de contenido
// .f_card.f_card--border : Estilo de tarjeta de seccion de contenido con bordes
// .f_card__header : Estilo de cabezera de tarjeta
// .f_card__header .f_card__title : Estilo de titulo de cabezera de tarjeta
// .f_card__title .f_card__title-icon : Estilo de icono de titulo de cabezera
// .f_card__title .f_card__title-secondary : Estilo de titulo secundario de cabezera
// .f_card__body : Estilo de cuerpo de tarjeta
// .f_card__body--border : Estilo de cuerpo de tarjeta con bordes
// .f_card__body--border-top : Estilo de cuerpo de tarjeta solo con borde superior
// .f_card__footer : Estilo de pie de tarjeta
// .f_card__footer .actions : Estilo de pie de tarjetar para botones de aciones (formularios, etc)
 
.f_card {

	.f_card__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		flex-wrap: wrap;
		min-height: 40px;
		border: none;
		padding-top: 0;
		padding-bottom: 4px;
		margin: 0;

		.f_card__title{
			font-size: 1rem;
			color: $colortexttitle2;

			.f_card__title-icon{
				color: rgba(0,0,0,0.4);
			}

			.f_card__title-secondary{
				color: rgba(0,0,0,0.4);
			}
		}
	}

	.f_card__body{
		padding: 15px 0px 30px;

		&--border{
			padding-top: 21px;
			padding-bottom: 18px;
			border-top: 1px solid $colorline;
			border-bottom: 1px solid $colorline;
		}

		&--border-top{
			padding-top: 18px;
			border-top: 1px solid $colorline;
		}
	}


	.f_card__footer {
		margin: 20px 0px 30px;
	
		&.actions {
			margin: 40px 0px 60px;
			
			& > a, & > button {
				margin-bottom: 1.4rem;
				margin-right: 0px;
			}
		}
	}
}


.f_card {
	
	&.f_card--border{
		border: 1px solid $colorline;
		
		.f_card__header{
			padding: 4px $gutter 4px $gutter;
			border-bottom: 1px solid $colorline;
		}
		
		.f_card__body{
			padding-left: $gutter;
			padding-right: $gutter;
		}
	}
}